<!DOCTYPE html>
<html data-ng-app="repgo">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">

    <link rel="stylesheet" href="src/css/main.css">

    <title>Cadastro de usuário</title>
  </head>
  <body>
    <header>
      <nav data-ng-controller="MenuController as menuCtrl">
        <md-content>
          <md-toolbar>
            <div class="md-toolbar-tools">
              <md-button class="md-icon-button" data-ng-click="menuCtrl.toggle()">
                <md-icon md-svg-icon="navigation:menu"></md-icon>
              </md-button>

              <h1>RepGO</h1>
            </div>
          </md-toolbar>
        </md-content>


        <md-sidenav class="md-sidenav-left" md-component-id="menu">

          <md-list>
            <md-subheader class="md-no-sticky">Actions</md-subheader>

            <md-list-item data-ng-repeat="iten in menuCtrl.menuItens"
                          data-ng-click="menuCtrl.show(iten.path)">
              <md-icon md-svg-icon="{{iten.icon}}"></md-icon>
              <p>{{iten.name}}</p>
            </md-list-item>
          </md-list>

        </md-sidenav>

      </nav>
    </header>

    <div data-ng-controller="MessageController as messageCtrl"></div>

    <div class="main-content" data-ng-view="">
      <!-- Content -->
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-route.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-animate.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-aria.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-messages.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-cookies.min.js"></script>

    <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>

    <script src="src/js/app.js"></script>
    <script src="src/js/config/api-config.js"></script>
    <script src="src/js/config/route-config.js"></script>
    <script src="src/js/config/icon-config.js"></script>
    <script src="src/js/config/interceptor-config.js"></script>
    <script src="src/js/interceptors/basic-auth-interceptor.js"></script>
    <script src="src/js/services/user-service.js"></script>
    <script src="src/js/services/user-service.js"></script>
    <script src="src/js/services/message-service.js"></script>
    <script src="src/js/controllers/menu-controller.js"></script>
    <script src="src/js/controllers/message-controller.js"></script>
    <script src="src/js/controllers/user-controller.js"></script>
    <script src="src/js/controllers/user-list-controller.js"></script>
  </body>
</html>
