<!DOCTYPE html>
<html data-ng-app="repgo">
  <head>
    <meta charset="utf-8">
    <title>Cadastro de usuário</title>
  </head>
  <body>

    <div data-ng-controller="UserController as userCtrl">

      <form data-ng-submit="save(userCtrl.user)">
        <label for="name">Name</label>
        <input id="name" type="text" required
               data-ng-model="userCtrl.user.name">

        <br>
        <label for="password">Password</label>
        <input id="password" type="password" required
               data-ng-model="userCtrl.user.password">

        <br>
        <label for="confirmPassword">Confirm</label>
        <input id="confirmPassword" type="password" required
               data-ng-model="userCtrl.user.confirmPassword">

        <br>
        <button type="submit" name="save">Save</button>
      </form>

    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="src/js/app.js"></script>
    <script src="src/js/config/api-config.js"></script>
    <script src="src/js/services/user-service.js"></script>
    <script src="src/js/controllers/user-controller.js"></script>
  </body>
</html>
